.container {
	width: 75%;
	margin: 0 auto;
}

.card {
	padding: 8px;
	box-shadow: 4px gray;
	border-radius: 8px;
}

.card-img {
	height: 50%;
	width: 100%;
	object-fit: cover;
}

.card-text {
	font-size: 16px;
}

.card-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.center {
	display: flex;
	justify-content: center;
	place-items: center;
}